

<%- include("header.ejs")%>

<% const weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
const d = new Date();
let day = weekday[d.getDay()];
let monthName = month[d.getMonth()];
let date = d.getDate();%> 
    

    <div class="main">
        <div class="box" id="heading">
            <h1 id="heading"><%= day%>, <%= monthName%> <%= date%></h1>
        </div>
        <div class="box" id="form">
            
            <div class="form-elements">
                <div class="element">
                    <input type="checkbox" name="check0" class="check">
                    <label for="check0" >This is To-Do List for Today</label>
                </div><hr>
                <div class="element">
                    <input type="checkbox" name="check1" class="check">
                    <label for="check1">Sravan</label>
                </div><hr>
                <% if(locals.item){%>
                <% for (let i=0; i< item.length;i++){%>
                <div class="element">
                    <input type="checkbox" name="check<%= i%><%= i%>" class="check">
                    <label for="check<%= i%><%= i%>"><%= item[i]%></label>
                    
                </div><hr>
                <%}}%>
                
        <div class="element">
            <form action="/" method="post">
                <input type="text" name="newItem" id="newItem" placeholder="New Item" autocomplete="off">
                <input type="submit" value="+" id="submit">
            </form>
            </div>
        </div>
        
    </div>
    
</div>
    
    
    
    <%- include("footer.ejs")%>
       
       
</body>    

</html>
