<%- include("header.ejs")%>

<div class="main">
    <div class="box" id="heading">
        <h1 id="heading">Work List</h1>
    </div>
    
    <div class="box" id="form">
            
        <div class="form-elements">
            <div class="element">
                <input type="checkbox" name="check0" class="check">
                <label for="check0" >This is the To-DO list for work</label>
            </div><hr>
            
            <% if(locals.item){%>
            <% for (let i=0; i< item.length;i++){%>
            <div class="element">
                <input type="checkbox" name="check<%= i%><%= i%>" class="check">
                <label for="check<%= i%><%= i%>"><%= item[i].listName%></label>
                
            </div><hr>
            <%}}%>
            

    <div class="element">
        <form action="/work.ejs" method="post">
            <input type="text" name="newItem" id="newItem" placeholder="New Item" autocomplete="off">
            <input type="submit" value="+" id="submit">
        </form>
        </div>
    </div>
    
</div>
<div><%- include("footer.ejs")%></div>
</div>
</html>

